/* Pre */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Poppins;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

:root {
  --primary-color: rgb(197, 193, 193);
}

/* NavBar */
.NavBar {
  height: 5rem;
  width: 100%;
  background: var(--primary-color);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
}

.DashBoardTitle {
  margin: .5rem;
}

.DashBoardTitleSmall {
  font-style: italic;
  color: gray;
  font-size: small;
}

.LeftSideNavBar {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.CenterNavBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  margin: .5rem;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  transition: .2s all ease-in-out;
}

a:hover {
  color: var(--primary-color);
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0)
}

.RightSideNavBar {
  width: 33%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.Clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  opacity: .5;
}

/* Carousel */
.Carousel {
  width: 100%;
  height: 3rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: gray;
}

@keyframes slidein {
  0% {
    transform: translateX(0%);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  25% {
    color: green;
  }

  50% {
    transform: translateX(100%);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  100% {
    transform: translateX(200%);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.CarouselInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

/* DataContainer */
.DataContainers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
}

.DataContainer {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  background: var(--primary-color);
  overflow: scroll;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.FirstRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.SecondRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ThirdRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.DataDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  color: white;
  border: 1px solid white;
}

.NewsDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  color: white;
  border: 1px solid white;
}

.LongRow {
  grid-column: 1 / 3;
}

/* Charts */
.Chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* Data */
.Rates {
  background-color: green;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.Rates2 {
  background-color: red;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

button {
  width: 15%;
  padding: .5rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
  margin: .5rem;
  transition: .1s all ease-in-out;
  cursor: pointer;
  position: absolute;
}

.Button {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.None {
  display: none;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, .3);
}

/* News */
.News {
  width: 90%;
  height: 90%;
}